h1 {color: red; font-size: 22pt;} 
Body { background: white; 
	     color: blue;
	     font-size: 14pt;
	   }
body { 	background: white;
color: blue;
   	    	font-size: 14pt;
       		font-family: 'Fjalla One'; 
 			    }

